
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] imagePaths;
    string basePath;
    string relativeImagePath;
    string mainImageDimension = "300";
    string smallImageDimension = "100";
}


@*Commenting out this banner for now because i dont want to look at that picture
    <h2>Store</h2>
    <img class="center" src="~/Content/Images/StoreBanner.png" />
*@
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC6sXF1zpCHJKfHhc/3ROfRkEapVxkk49dRVuqrfpTqMIH+1920iKIRro5x2B7/6rV+WMmDokYe7UExBkSZVQuOLoyP1LI1lp9bx9ReG5nwv12NuvrU7v2SWKCUZs0KaNA3b+5TX4sFaaLd8vcXU4PMkGSyezVO78w00mgkw7GVHDELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAgEdcQr0dlWAYAwnWBaernJH3m9JePTHanB2LNa29VZRgUxCuCv9eKJv7ATcsdMUnbKZAa7P30s/4ULoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcxMDEyMjE0OTA5WjAjBgkqhkiG9w0BCQQxFgQUEcFq1wBZyx+XBdq4sa+wSob2lckwDQYJKoZIhvcNAQEBBQAEgYCq4bzKAQU1HboJ7Hb0N76mbRObdHZFvzdZ1ZrgBUPvFY/THlPhBVPe7L+XK4ZtH/YdTLEXgLoYIp0z9r6aqTJkRTnviR3QcmFt27arIvtvLKNhrDYt+U1K6P9bocZ0xyUtYUH1feUcanKwWuGRMNwf8rh8Wg2vAgvOse89/ttdCw==-----END PKCS7-----
">
    <input class="payPalViewBtn" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<div id="storeItems">
    <div class="storeItem">
        @{
            basePath = "/Content/Images/GreenShirt1/";
            imagePaths = Directory.GetFiles(HttpContext.Current.Server.MapPath("~" + basePath));
            relativeImagePath = basePath + Path.GetFileName(imagePaths[0]);
            <img src="@relativeImagePath" width=@mainImageDimension height=@mainImageDimension />
            <div class="storeSmallImageContainer">
                @foreach (var imagePath in imagePaths)
                {
                    relativeImagePath = basePath + Path.GetFileName(imagePath);
                    <img src="@relativeImagePath" width=@smallImageDimension height=@smallImageDimension />
                }
            </div>

            <span>Green Long Sleeve - Front Text</span>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="CNY9UR35NZM6Q">
                <table class="storeShirtSizeSelector">
                    @*<tr><td class="shirtSizeLabel"><input type="hidden" name="on0" value="Size">Size</td></tr>*@
                    <tr>
                        <td>
                            <select class="storeShirtSizeSelectorS" name="os0">
                                <option value="Small">Small </option>
                                <option value="Medium">Medium </option>
                                <option value="Large">Large </option>
                                <option value="XL">XL </option>
                            </select>
                            <input class="payPalAddBtn" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        </td>
                    </tr>
                </table>               
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        }
    </div>

    <div class="storeItem">
        @{
            basePath = "/Content/Images/GreenShirt2/";
            imagePaths = Directory.GetFiles(HttpContext.Current.Server.MapPath("~" + basePath));
            relativeImagePath = basePath + Path.GetFileName(imagePaths[0]);
            <img src="@relativeImagePath" width=@mainImageDimension height=@mainImageDimension />
            <div class="storeSmallImageContainer">
                @foreach (var imagePath in imagePaths)
                {
                    relativeImagePath = basePath + Path.GetFileName(imagePath);
                    <img src="@relativeImagePath" width=@smallImageDimension height=@smallImageDimension />
                }
            </div>

            <span>Green Long Sleeve - Front Logo; Sleeve Text</span>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="52A5MLHMBSGZU">
                <table class="storeShirtSizeSelector">
                    <tr><td class="shirtSizeLabel"><input type="hidden" name="on0" value="Size">Size</td></tr>
                    <tr>
                        <td>
                            <select class="storeShirtSizeSelectorS" name="os0">
                                <option value="Small (Sold Out)">Small </option>
                                <option value="Medium (Sold Out)">Medium </option>
                                <option value="Large">Large </option>
                                <option value="XL">XL </option>
                            </select>
                            <input class="payPalAddBtn" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        </td>
                    </tr>
                </table>               
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        }
    </div>

    <div class="storeItem">
        @{
            basePath = "/Content/Images/BlueShirt1/";
            imagePaths = Directory.GetFiles(HttpContext.Current.Server.MapPath("~" + basePath));
            relativeImagePath = basePath + Path.GetFileName(imagePaths[0]);
            <img src="@relativeImagePath" width=@mainImageDimension height=@mainImageDimension />
            <div class="storeSmallImageContainer">
                @foreach (var imagePath in imagePaths)
                {
                    relativeImagePath = basePath + Path.GetFileName(imagePath);
                    <img src="@relativeImagePath" width=@smallImageDimension height=@smallImageDimension />
                }
            </div>

            <span>Blue Long Sleeve - Front Text; Back Logo</span>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="YCRLZ92REYSYU">
                <table class="storeShirtSizeSelector">
                    <tr><td class="shirtSizeLabel"><input type="hidden" name="on0" value="Size">Size</td></tr>
                    <tr>
                        <td>
                            <select class="storeShirtSizeSelectorS" name="os0">
                                <option value="Small (Sold Out)">Small </option>
                                <option value="Medium">Medium </option>
                                <option value="Large">Large </option>
                                <option value="XL">XL </option>
                            </select>
                            <input class="payPalAddBtn" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        </td>
                    </tr>
                </table>                
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        }
    </div>

    <div class="storeItem">
        @{
            basePath = "/Content/Images/BlueShirt2/";
            imagePaths = Directory.GetFiles(HttpContext.Current.Server.MapPath("~" + basePath));
            relativeImagePath = basePath + Path.GetFileName(imagePaths[0]);
            <img src="@relativeImagePath" width=@mainImageDimension height=@mainImageDimension />
            <div class="storeSmallImageContainer">
                @foreach (var imagePath in imagePaths)
                {
                    relativeImagePath = basePath + Path.GetFileName(imagePath);
                    <img src="@relativeImagePath" width=@smallImageDimension height=@smallImageDimension />
                }
            </div>

            <span>Blue Long Sleeve - Front Logo; Back Text</span>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="J2NJWMAQUNC5Y">
                <table class="storeShirtSizeSelector">
                    <tr><td class="shirtSizeLabel"><input type="hidden" name="on0" value="Size">Size</td></tr>
                    <tr>
                        <td>
                            <select class="storeShirtSizeSelectorS" name="os0">
                                <option value="Small (Sold Out)">Small </option>
                                <option value="Medium">Medium </option>
                                <option value="Large">Large </option>
                                <option value="XL">XL </option>
                            </select>
                            <input class="payPalAddBtn" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        </td>
                    </tr>
                </table>                
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        }
    </div>
</div>

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC6sXF1zpCHJKfHhc/3ROfRkEapVxkk49dRVuqrfpTqMIH+1920iKIRro5x2B7/6rV+WMmDokYe7UExBkSZVQuOLoyP1LI1lp9bx9ReG5nwv12NuvrU7v2SWKCUZs0KaNA3b+5TX4sFaaLd8vcXU4PMkGSyezVO78w00mgkw7GVHDELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAgEdcQr0dlWAYAwnWBaernJH3m9JePTHanB2LNa29VZRgUxCuCv9eKJv7ATcsdMUnbKZAa7P30s/4ULoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcxMDEyMjE0OTA5WjAjBgkqhkiG9w0BCQQxFgQUEcFq1wBZyx+XBdq4sa+wSob2lckwDQYJKoZIhvcNAQEBBQAEgYCq4bzKAQU1HboJ7Hb0N76mbRObdHZFvzdZ1ZrgBUPvFY/THlPhBVPe7L+XK4ZtH/YdTLEXgLoYIp0z9r6aqTJkRTnviR3QcmFt27arIvtvLKNhrDYt+U1K6P9bocZ0xyUtYUH1feUcanKwWuGRMNwf8rh8Wg2vAgvOse89/ttdCw==-----END PKCS7-----
">
    <input class="payPalViewBtn" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<script>
    var storeSmallImageContainers = document.getElementsByClassName("storeSmallImageContainer");
    for (var i = 0; i < storeSmallImageContainers.length; i++) {
        storeSmallImageContainers[i].addEventListener("click", functionDelegate(setImage, { mainImageSibling: storeSmallImageContainers[i] }));
    }

    function setImage(event, params) {
        // Summary: Set the main image for the item the user is looking at
        // event:   The event that is raised
        // params:  Object passed into the event handler to have access to the image for which to set the src

        var mainImageSibling = params.mainImageSibling;
        var mainImage = mainImageSibling.previousElementSibling;
        mainImage.setAttribute("src", event.target.getAttribute("src"));
    }

    var _this = this;
    function functionDelegate(delegate, params) {
        // Summary: Return a function that will call the delegate with the correct context.
        // delegate: function to call when event is triggered.
        return function (event) {
            delegate.call(_this, event, params);
        }
    }
</script>
