<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Northx Productions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="my-nav-bar">
        <table align="center">
            <tr>
                <td class="navBarLogo" colspan="5">
                    <a href='@Url.Action("Index", "Home")'>
                        <img src="~/Content/Images/NorthxLogoNavBar.png" width="90" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="my-nav-bar-item-small">
                    @Html.ActionLink("Videos", "Index", "Videos")
                </td>
                <td class="my-nav-bar-item-small">
                    @Html.ActionLink("Music", "Music", "Home")
                </td>
                <td class="my-nav-bar-item-small">
                    @Html.ActionLink("News Feed", "NewsFeed", "Home")
                </td>
                <td class="my-nav-bar-item-small">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </td>
                <td class="my-nav-bar-item-small">
                    @Html.ActionLink("Store", "StoreIndex", "Store")
                </td>
                <td>
                    @if (null != Session["UserIsAdmin"] && Session["UserIsAdmin"].Equals("Admin"))
                    {
                        @Html.ActionLink("Admin", "AdminControls", "Admin")
                    }
                </td>
            </tr>
        </table>
    </div>

    <img class="background-image" src="~/Content/Images/NorthxLogoLarge.png" />
    <div class="content">
        <div>
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Northx Productions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script>
    window.addEventListener("resize", this.adjustImageHeight);
    this.adjustImageHeight();

    if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
        var content = document.getElementsByClassName("content")[0];
        content.style = "padding: 0 225px; padding-top: 136px;";
    }

    function adjustImageHeight() {
        var backgroundImage = document.getElementsByClassName("background-image")[0];
        backgroundImage.style = "height: " + screen.height + "px;";
    }
</script>
</body>
</html>
