<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Northx Productions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://widget.battleforthenet.com/widget.js" async></script>
</head>
<body>
    <div class="titleBar">
        <div id="mobileBurger" class="noDisp">
            <img src="~/Content/Images/mobileBurger.png" width="30" />
        </div>

        <div id="title" class="inlineBlock center">
            NORTHx Productions
        </div>
    </div>
    <div>
        <div id="desktopMenu">
            <div class="desktopMenuMargin"></div>
            @Html.ActionLink("Videos", "Index", "Videos", null, new { @class = "desktopMenuItem" })
            @Html.ActionLink("Music", "Music", "Home", null, new { @class = "desktopMenuItem" })
            @Html.ActionLink("News Feed", "NewsFeed", "Home", null, new { @class = "desktopMenuItem" })
            @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "desktopMenuItem" })
            @Html.ActionLink("Store", "StoreIndex", "Store", null, new { @class = "desktopMenuItem" })
            <div class="desktopMenuMargin"></div>
        </div>
        <div id="desktopLogo">
            <img src="~/Content/Images/NorthxLogoWhiteBackground.png" width="90" />
        </div>
    </div>

    @*#region start desktop navigation*@
    <div id="desktopBody">
        <div id="mobileMenu" class="noDisp">
            <table id="mobileMenuTable">
                <tr>
                    <td id="navBarLogo" class="my-nav-bar-item-small">
                        <a href='@Url.Action("Index", "Home")'>
                            <img src="~/Content/Images/NorthxLogoNavBar.png" width="90" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("Videos", "Index", "Videos")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("Music", "Music", "Home")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("News Feed", "NewsFeed", "Home")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("Store", "StoreIndex", "Store")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small noDisp">
                        @if (null != Session["UserIsAdmin"] && Session["UserIsAdmin"].Equals("Admin"))
                        {
                            @Html.ActionLink("Admin", "AdminControls", "Admin")
                        }
                    </td>
                </tr>
            </table>
        </div>
        @*#region end desktop navigation*@

        @*Keeping this containing div around because of the flex styling on desktopBody*@
        <div id="flexBodyContent" class="inlineBlock">
            <div id="bodyContent" class="inlineBlock">
                @RenderBody()
            </div>
            <hr />
            <div id="footer">
                <div class="desktopMenuMargin"></div>
                <footer>
                    <p>&copy; @DateTime.Now.Year - Northx Productions</p>
                </footer>
                <div class="desktopMenuMargin"></div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script>
    var isMenuVisible = false;

    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        this.setupMobileMenu();
    }

    var navBarItems = document.getElementsByClassName("my-nav-bar-item-small");
    for (var i = 0; i < navBarItems.length; i++) {
        navBarItems[i].addEventListener("click", this.navigate);
    }

    function setupMobileMenu() {
        // Summary: Show mobile burger and hide desktop menu.

        var mobileBurger = document.getElementById("mobileBurger");
        mobileBurger.addEventListener("click", this.toggleMobileMenu);
        mobileBurger.removeAttribute("class");

        var desktopMenu = document.getElementById("desktopMenu");
        desktopMenu.setAttribute("class", "noDisp");
    }

    function toggleMobileMenu() {
        // Summary: Show/hide mobile menu.  Use visibility attribute, so the logo respects the space of the menu when hidden.
        var menu = document.getElementById("mobileMenu");
        isMenuVisible ? menu.setAttribute("class", "noDisp"): menu.setAttribute("class", "fixed");
        isMenuVisible = !isMenuVisible;
    }

    function navigate(event) {
        // Summary: Navigate to the appropriate page via the child anchor tag when table cell is clicked.
        event.target.children[0].click();
    }
</script>
</body>
</html>
