<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Northx Productions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="titleBar">

        @*#region  start mobile navigation*@
        <div id="mobileBurger" class="noDisp">
            <img src="~/Content/Images/mobileBurger.png" width="90" />
            <div id="mobileMenu" class="noDisp">
                <table border="1" cellpadding="10">
                    <tr>
                        <td nowrap class="my-nav-bar-item-small">
                            @Html.ActionLink("Videos", "Index", "Videos")
                        </td>
                    </tr>
                    <tr>
                        <td nowrap class="my-nav-bar-item-small">
                            @Html.ActionLink("Music", "Music", "Home")
                        </td>
                    </tr>
                    <tr>
                        <td nowrap class="my-nav-bar-item-small">
                            @Html.ActionLink("News Feed", "NewsFeed", "Home")
                        </td>
                    </tr>
                    <tr>
                        <td nowrap class="my-nav-bar-item-small">
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </td>
                    </tr>
                    <tr>
                        <td nowrap class="my-nav-bar-item-small">
                            @Html.ActionLink("Store", "StoreIndex", "Store")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        @*#region end mobile navigation*@

        <div class="center ">
            <a href='@Url.Action("Index", "Home")'>
                <img src="~/Content/Images/NorthxLogoNavBar.png" width="90" />
            </a>
        </div>
    </div>

    @*#region start desktop navigation*@
    <div id="desktopBody">
        <div id="desktopMenu" class="inlineBlock">
            <table align="center">
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("Videos", "Index", "Videos")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("Music", "Music", "Home")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("News Feed", "NewsFeed", "Home")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small">
                        @Html.ActionLink("Store", "StoreIndex", "Store")
                    </td>
                </tr>
                <tr>
                    <td nowrap class="my-nav-bar-item-small noDisp">
                        @if (null != Session["UserIsAdmin"] && Session["UserIsAdmin"].Equals("Admin"))
                        {
                            @Html.ActionLink("Admin", "AdminControls", "Admin")
                        }
                    </td>
                </tr>
            </table>
        </div>
        @*#region end desktop navigation*@

        <div class="inlineBlock">
            <div class="inlineBlock">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Northx Productions</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script>
    var isMobileMenuVisible = false;

    var content = document.getElementsByClassName("content")[0];
    if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
        content.style = "padding: 0 225px;";
        window.addEventListener("resize", this.adjustImageHeight);
        this.adjustImageHeight();
    }
    else {
        content.style = "padding: 0 10px;";
        this.setupMobileMenu();
        document.getElementsByTagName("body")[0].removeChild(document.getElementsByClassName("background-image")[0]);
    }

    function setupMobileMenu() {
        // Summary: Show mobile burger, setup mobile menu for use, and hide desktop menu.

        var mobileBurger = document.getElementById("mobileBurger");
        mobileBurger.addEventListener("click", this.toggleMobileMenu);
        mobileBurger.setAttribute("class", "inlineBlock");

        var mobileMenu = document.getElementById("mobileMenu");
        mobileMenu.setAttribute("class", "noVis");

        var desktopMenu = document.getElementById("desktopMenu");
        desktopMenu.setAttribute("class", "noDisp");

        var navBarTable = document.getElementsByClassName("navBarTable")[0];
        // Float to right, so user doesn't misclick the logo forcing them to go to the home page
        navBarTable.setAttribute("class", "floatRight inlineBlock");
    }

    function toggleMobileMenu() {
        // Summary: Show/hide mobile menu.  Use visibility attribute, so the logo respects the space of the menu when hidden.
        var mobileMenu = document.getElementById("mobileMenu");
        isMobileMenuVisible ? mobileMenu.setAttribute("class", "noVis") : mobileMenu.removeAttribute("class");
        isMobileMenuVisible = !isMobileMenuVisible;
    }

    function adjustImageHeight() {
        var backgroundImage = document.getElementsByClassName("background-image")[0];
        backgroundImage.style = "height: " + screen.height + "px;";
    }
</script>
</body>
</html>
